.status {
	padding: 6px;
	float: left;
	width: 25%;
}

.status__selected {
	top: 8px;
}

.status_position_right {
	float: right;
	text-align: right;
}

.status__selected_left {
	left: 20%;
	min-width: 50%;
}

.status__selected_right {
	min-width: 50%;
	right: 20%;
}
