.status {
	padding: 6px;
	float: left;
}

.status__selected {
	position: absolute;
	top: 8px;
}

.status_position_right {
	float: right;
}

.status__selected_left {
	left: 20%;
}

.status__selected_right {
	right: 20%;
}
