.question {
	padding: 1,5em;
	margin: 1em;
	font-family: Helvetica;
	font-size: 1,7em;
	color: #437;
	text-align: center;
}

.question__message {
	padding: 1em;
}

.question__hint{
	font-size: 0.8em;
	color: #999;
	padding: 6em;
	padding-top: 0.2em;
	padding-bottom: 1.6em;
}

.gap {
	margin: 30px;
}
