.info {
	z-index: 400;
	position: fixed;
	bottom: 0;
	height: 48px;
	width: 100%;
	outline: 1px;
	outline-color: #fff;
	outline-style: solid;
	background-color: #213339;
	box-shadow: 0 -5px 8px rgba(0,0,0,0.3);
	color: #fff;
}
