.menu-item_theme_islands {
	&.i-bem {
		 &.menu-item_hovered {
			background-color: #96549e;
			color: #eee;
		 	
		 }
	}
}

.menu-item {
	font-family: Helvetica;
	font-size: 16px;
	color: #333;
	line-height: 26px;
}

.menu-item_dir {
	font-family: Helvetica;
	color: #600;
	font-size: 16px;
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 1.1em
	line-height: 32px;
}


